[submodule "espHardware/lib/OLED_Display_96X96"]
	path = espHardware/lib/OLED_Display_96X96
	url = https://github.com/Seeed-Studio/OLED_Display_96X96.git
[submodule "espHardware/lib/pubsubclient"]
	path = espHardware/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "espHardware/lib/Adafruit_MPR121"]
	path = espHardware/lib/Adafruit_MPR121
	url = https://github.com/adafruit/Adafruit_MPR121.git
