[submodule "espHardwareReceiver/lib/OLED_Display_96X96"]
	path = espHardwareReceiver/lib/OLED_Display_96X96
	url = https://github.com/Seeed-Studio/OLED_Display_96X96.git
[submodule "espHardwareReceiver/lib/pubsubclient"]
	path = espHardwareReceiver/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "espHardwareReceiver/lib/Adafruit_MPR121"]
	path = espHardwareReceiver/lib/Adafruit_MPR121
	url = https://github.com/adafruit/Adafruit_MPR121.git

[submodule "circuitPlaygroundHardware/lib/Adafruit_CircuitPlayground"]
	path = circuitPlaygroundHardware/lib/Adafruit_CircuitPlayground
	url = https://github.com/adafruit/Adafruit_CircuitPlayground.git

[submodule "espHardwarePresence/lib/pubsubclient"]
	path = espHardwarePresence/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
