[submodule "caregiverHardware/lib/OLED_Display_96X96"]
	path = caregiverHardware/lib/OLED_Display_96X96
	url = https://github.com/Seeed-Studio/OLED_Display_96X96.git
[submodule "caregiverHardware/lib/pubsubclient"]
	path = caregiverHardware/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
